
@{
    ViewBag.Title = "Om oss";
}
<link href="~/Content/about.css" rel="stylesheet" />



<div class="align-center">
    <div class="about-section card">
        <h1>Om oss</h1>
        <p>
            Vi är mer än bara ett företag
        </p>
        <p>SystemBio är en av världens ledande filmoperatörer, som hanterar de mest respekterade varumärkena på stora europeiska marknader och Taiwan, som sträcker sig över tio länder, över 280 webbplatser och över 2400 skärmar.</p>
    </div>
</div>

<br />
<div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Vår bakgrund</h2>
                <p class="title">Hur SystemBio startade</p>
                <p>År 2000 etablerade sig SystemBio i Trollhättan. Tack vare våra biobesökare, fick vi möjligheten att expandera och bli den största biografen i Sverige 2012. Sedan 2016 har vi även expanderat våra biografer till andra länder inom Europa och Taiwan.</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Idag</h2>
                <p class="title">SystemBios situation</p>
                <p>
                    SystemBio är idag Sveriges största biografkedja med över 280 olika biografer på 170 städer i över 10 länder. Företaget sysselsätter över 3000 personer och hade 2019 ca 8 miljoner biobesök.
                    Vår kärlek till kunden presenteras ett biobesök i taget, från start till slut.
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>Hållbarhet</h2>
                <p class="title">& Framtiden</p>
                <p>Som en biograf satsar vi på att hålla en god utveckling för framtiden. Genom att vi använder oss av energisparande tekniker och kravmärkt godis. Det är viktigt att ta ansvar för både personalen likväl som miljön. Tillsammans tar vi ett steg mot en bättre värld.</p>
            </div>
        </div>
    </div>
</div>