
@{
    ViewBag.Title = "Contact";
}



    <head>


        <link href="~/Content/kontakt.css" rel="stylesheet" />
    </head>
<body style="background: url(/images/om1.jpg);  background-size: 100% 100vh; background-repeat:no-repeat";>
   
    <h2>Tveka inte att kontakta systembio!</h2>
    <div class="">
        <form action="mailto:SystemBio@gmail.com" method="post" enctype="text/plain">


            
                <button class="kontakt">Kontakta oss</button>
         
        </form>
    </div>
</body>