
@{
    ViewBag.Title = "Contact";
}

    <head>
        <link href="~/Content/contact.css" rel="stylesheet" />

    </head>
    <body>
        <img class="bakgrundimg" src="~/images/red.jpg" />
        <h2>We`d love to hear from you! Press the button below to get in touch</h2>
        <div class="">
            <form action="mailto:SystemBio@gmail.com" method="post" enctype="text/plain">

                <input class="" type="submit" value="Contact us">
            </form>
        </div>
    </body>