
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
   
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/WrapperStyle.css" rel="stylesheet" />
</head>
<body>

    <h1 class="rubrik">Välkommen till Systembio</h1>
    <img class="logga" src="~/images/biologga.png" />
    <img class="bakgrundsbild" src="~/images/stolar.jpg" />


    <div class="container">

        

        <h1 class="newmovies">Kommande rekommendationer</h1>


        <div class="wrapper">
            <section id="section4">
                <a href="#section6" class="arrow__btn">‹</a>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/f7d208bf155b4942ae44eb46e514c025.jpg?width=240&version=040E30C2D3B78E8E2992B794C2D52CCF&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/aacc4f00cae648afb7e9d2cd903f30ea.jpg?width=240&version=D26BBC083F020298691E4F8FFC862842&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/79786d273f8b41b5ba6a9061a70c4e6f.jpg?width=240&version=F139C8E1AD0304842F302B58BECE224D&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/ee022ed2d05d4050bfd2ef97c62499f8.jpg?width=240&version=8E60EFF01FFC65B6D6AFEA94195C6F36&format=webp" />
                </div>

                <a href="#section5" class="arrow__btn">›</a>
            </section>
            <section id="section5">
                <a href="#section4" class="arrow__btn">‹</a>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/4f6a05d843474565a944b6bda63269c0.jpg?width=240&version=8C16DC35CBBE260C0B9D8925737D7280&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/92129f17109b427c992a45db3ad95fb7.jpg?width=240&version=320C7AB98E4A687B3CA41ED5A39DBD9B&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/8b97938a00074d68900725089eb8e48d.jpg?width=240&version=2F9ED9130FD360A5948DD1D5438A097F&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/46bf3027951749989dbfbbf6de4b3a92.jpg?width=240&version=3C17DF483C20A4C6A6215DCACBEC9091&format=webp" />
                </div>

                <a href="#section6" class="arrow__btn">›</a>
            </section>
            <section id="section6">
                <a href="#section5" class="arrow__btn">‹</a>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/fcf1edbbb08144249a0c49d45086bba8.jpg?width=240&version=0F66240D6A35DF7A0B63FCCA47526BB3&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/224012d2d6114f20aa2400f6ae09de92.jpg?width=240&version=7C9FB91567BA21E480E01476E107701A&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/8382c7cea0af4390ab726d84ed58febe.jpg?width=240&version=5F1934AC425FFF4C87C9BDE29E22A4E9&format=webp" />
                </div>
                <div class="item">
                    <img src="https://catalog.cinema-api.com/images/ncg-images/ef54b879d0fb4363bc4286e5c4f82917.jpg?width=240&version=075F65A560C5940F8A438E658D609508&format=webp" />
                </div>

                <a href="#section4" class="arrow__btn">›</a>
            </section>
        </div>
    </div>
    @{
        if (TempData["login"] != null)
        {
            <script type="text/javascript">
                alert(@Html.Raw(Json.Encode(TempData["login"])))
            </script>
        }
        if (TempData["logout"] != null)
        {
            <script type="text/javascript">
                alert(@Html.Raw(Json.Encode(TempData["logout"])))
            </script>
        }
        if (TempData["boka"] != null)
        {
<script type="text/javascript">
                alert(@Html.Raw(Json.Encode(TempData["boka"])))
</script>
        }
    }
</body>
</html>

